.root {
  display: flex;
  flex-direction: row;
  height: 300px;
  width: 100%;
  overflow: scroll;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}

.eachSong {
  display: flex;
  flex-direction: column;
}

.image {
  height: 150px;
  width: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.songDescription {
  justify-content: center;
  color: #d3d3d3;
  font-size: 12px;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}
